.forgot-password{
    padding: calc(var(--p-3) * 2);
}

.forgot-password > h1{
    font-size: 4rem;
    padding: var(--p-1);
	font-weight: 800;
	margin: var(--m-2);
    background-image: var(--g-base);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.forgot-password > p{
    font-size: 1.3rem;
    text-align: center;
    max-width: 25em;
    margin: var(--m-2);
}

.forgot-password button{
    min-width: 10em;
}