.password-field-container {
	position: relative;
}

.icon {
	position: absolute;
	top: 1em;
	right: 0.6em;
	width: 2rem;
	aspect-ratio: 1 / 1;
	-moz-aspect-ratio: 1 / 1;
	-webkit-aspect-ratio: 1 / 1;
	color: var(--c-font);
	transform: scale(1.5);
	transition: all 200ms ease-out;
}

.icon :hover,
.icon :focus {
	outline: none;
	color: var(--c-selected);
	filter: drop-shadow(0 0 0.2em var(--c-selected));
}
