.password-field-container {
	position: relative;
	margin: var(--m-2);
}

.password-field-container > input{
	margin: 0em;
}

.password-field-container .icon {
	--width: 2rem;

	position: absolute;
	top: calc((100% - var(--width)) / 2);
	right: 0;
	width: var(--width);
	height: var(--width);
	color: var(--c-font);
	transform: scale(1.5);
	transition: all 200ms ease-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon :hover,
.icon :focus {
	outline: none;
	color: var(--c-selected);
	filter: drop-shadow(0 0 0.2em var(--c-selected));
}
