.password-field{
 
}

.icon{
    position: relative;
    top: -2.7em;
    right: -14rem;
    width: 2rem;
    aspect-ratio: 1 / 1;
    -moz-aspect-ratio: 1 / 1;
    -webkit-aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
}
