.change-profile-picture{
	align-items: flex-start;
	width: 3rem;
	height: 3rem;
	align-self: flex-start;
	position: relative;
}

.change-profile-picture input{
	position: absolute;
	opacity: 0;
	inset: 0rem;
}

.change-profile-picture svg{
	width: 100%;
	height: 100%;
}

.profile-view .user-name {
	font-size: 2rem;
	font-weight: bolder;
	position: relative;
	padding: var(--p-2);
	max-width: 100%;
	overflow-x: hidden;
	white-space: nowrap;
}

.profile-view .user-name::after {
	content: '';
	position: absolute;
	bottom: 0;	
	left: -5%;
	width: 110%;
	height: 0.1em;
	background-color: var(--c-font);
	border-radius: var(--b-r);
}

.profile-view .uuid {
	font-size: 0.7rem;
	font-weight: lighter;
	max-width: 60%;
	overflow: hidden;
	white-space: nowrap;
	padding: var(--p-1);
	opacity: 0;
	transition: opacity 200ms ease-out;
}

.profile-view .user-name:hover ~ .uuid {
	opacity: 0.8;
}

.profile-view .short-status-container,
.profile-view .description-container {
	text-align: center;
	margin: var(--m-2);
	position: relative;
}

.profile-view .edit-icon {
	position: absolute;
	top: unset;
	bottom: 0.8rem;
	right: 0.8rem;
	cursor: pointer;
	transition: opacity 200ms ease-out;
	opacity: 0;
}

.profile-view .edit-icon.top {
	top: 2.4rem;
	bottom: unset;
}

.profile-view
	:is(.short-status-container, .description-container):hover
	.edit-icon {
	opacity: 1;
}

.description-container .description {
	resize: vertical;
	height: 70%;
}
