.info .name {
	font-size: 1.1rem;
	font-weight: bold;
	text-overflow: ellipsis;
	text-align: left;
	position: absolute;
	left: 0em;
	top: 0em;
	width: 85%;
	max-width: 85%;
	white-space: nowrap;
	overflow: hidden;
}

.info .last-online {
	position: absolute;
	left: 0em;
	bottom: 0em;
	opacity: 0.8;
	font-size: 0.8rem;
	white-space: nowrap;
	max-width: 85%;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: capitalize;
}

.info .news-status {
	position: absolute;
	right: 0em;
	bottom: 0em;
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 0;
}

.info .news-status .circle {
	position: absolute;
	inset: 0rem;
	border-radius: 50%;
	opacity: 0.7;
	z-index: -1;
}

.info .news-status .blocked-icon {
	opacity: 0.7;
}

.info .news-status span {
	font-weight: bolder;
	font-size: 0.8rem;
}

.info .news-status.some .circle {
	background-image: var(--g-base);
}

.info .news-status.none .circle {
	display: none;
}

.info .news-status.blocked .circle {
	background-image: none;
}
