.group .info .name {
	font-size: 1.3rem;
	font-weight: bold;
	max-width: 100%;
	text-overflow: ellipsis;
	position: absolute;
	left: 0em;
	top: 0em;
	max-width: 84%;
	max-height: 80%;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	line-height: 120%;
}

.group .info .last-online {
	position: absolute;
	left: 0em;
	bottom: 0em;
	opacity: 0.8;
	font-size: 0.8rem;
}

.group .info .news-status {
	position: absolute;
	right: 0em;
	bottom: 0em;
	width: 15%;
	height: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.group .info .news-status.some .circle {
	background-image: var(--g-base);
}

.group .info .news-status.none .circle {
	display: none;
}

.group .info .news-status.blocked .circle {
	background-image: none;
}
