.search-view{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: 0rem;
    padding: 0em var(--p-3);
}

.search-view::-webkit-scrollbar{
    width: 0rem;
}

.search-view .search{
    max-width: 90%;
}