.search-group .info .name {
	font-size: 1.1rem;
	font-weight: bold;
	text-overflow: ellipsis;
	position: absolute;
	left: 0em;
	top: 0em;
	max-width: 84%;
	overflow: hidden;
	white-space: nowrap;
}

.search-group .info .short-status {
	position: absolute;
	left: 0em;
	bottom: 0em;
	opacity: 0.8;
	font-size: 0.8rem;
	white-space: nowrap;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
