.message {
  max-width: 45%;
  margin: var(--m-2) 0;
  position: relative;
  transition: all 200ms ease-out;
}

.message.highlighted {
  animation: highlighted 1s normal 0s 3;
}

@keyframes highlighted {
  0%,
  100% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(140%);
  }
}

.message.left {
  align-self: flex-start;
}

.message.right {
  align-self: flex-end;
}

.message.left + .message.left,
.message.right + .message.right {
  margin: var(--m-1) 0 0 0;
}

.message.left + .message.left .information :is(.author, .dot),
.message.right + .message.right .information :is(.author, .dot) {
  display: none;
}

.message .information {
  margin-left: var(--m-2);
  margin-right: var(--m-2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message.right .information {
  flex-direction: row-reverse;
}

.message.left .read {
  display: none;
}

.message .read {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message .information > * {
  margin: var(--m-1);
}

.message .author {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
}

.message .dot {
  position: relative;
  top: 100%;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: var(--c-font);
}

.message .time {
  opacity: 0.8;
  font-size: 0.7rem;
  font-weight: 400;
}

.message .content {
  background-color: var(--c-grey-light);
  border-radius: calc(var(--b-r) * 1.5);
  padding: var(--p-2) var(--p-3);
  margin: var(--m-1);
  width: max-content;
  box-shadow: var(--sh-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: inherit;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.message.left .content {
  border-top-left-radius: 0em;
  align-items: flex-start;
  text-align: start;
}

.message.right .content {
  border-top-right-radius: 0em;
  align-items: flex-end;
  text-align: end;
}

.message .image-media {
  max-width: 100%;
  width: auto;
  border-radius: var(--b-r);
  margin-bottom: var(--m-2);
}

.message .more {
  position: absolute;
  opacity: 0;
  bottom: 50%;
  transition: inherit;
  cursor: pointer;
  fill: url("#base-gradient");
}

.message.left .more {
  transform: translateY(80%) translateX(-50%);
  right: -1.5em;
}

.message.right .more {
  transform: translateY(80%) translateX(50%);
  left: -1.5em;
}

.message:hover .more,
.message:focus .more {
  opacity: 1;
  transform: translateY(80%) translateX(0%);
}

.message .more:hover {
  opacity: 0.5;
}

.message .more-options-menu {
  position: absolute;
  opacity: 1;
  bottom: 50%;
  transition: inherit;
  display: flex;
  transform: translateY(60%);
  padding: var(--p-3);
}

.message.left .more-options-menu {
  right: -10em;
  flex-direction: row-reverse;
}

.message.right .more-options-menu {
  left: -10em;
  flex-direction: row;
}

.message .more-options-menu svg {
  cursor: pointer;
  margin: 0 calc(var(--m-1) / 2);
  transition: opacity 200ms ease-out;
  fill: url("#base-gradient");
  stroke: url("#base-gradient");
}

.message .more-options-menu svg:hover {
  opacity: 0.5;
}

.answer {
  border-radius: var(--b-r);
  display: flex;
  align-items: center;
  padding: var(--p-1) var(--p-2);
  margin: var(--p-1) 0;
  background-color: #00000055;
}

.answer .message {
  max-width: 100%;
}

.answer .message.left .information {
  flex-direction: row;
}

.answer .message.left .content {
  border-top-right-radius: var(--b-r);
}

.answer .message.right .content {
  border-top-left-radius: var(--b-r);
}

.message.left .answer {
  justify-content: flex-start;
  border-left-width: 0.3rem;
  border-left-color: var(--c-gradient-1);
  border-left-style: solid;
}

.message.right .answer {
  justify-content: flex-end;
  border-right-width: 0.3rem;
  border-right-color: var(--c-gradient-2);
  border-right-style: solid;
}

.answer .content {
  cursor: pointer;
}
