.message-screen{
    flex: 2 2 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    padding: var(--p-2);
    overflow: auto;
    scrollbar-width: none;
}

.message-screen::-webkit-scrollbar{
    display: none;
}